h1 {
    color:rgb(0, 204, 255);
}

.header{
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;

}


.site-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}

body{
    background-color: rgba(255, 238, 0, 0.925);
}